<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif|Ubuntu" rel="stylesheet">
  <style>
  body{
    background-color:#ffc6a5
  }
  h1{
    color: #6370ff;
    text-align: center;
    font-family:'Ubuntu', sans-serif;
  }
  h2{
    color:#963131;
    text-align: left;
    font-family:'Noto Serif', serif;
  }
  p{
    color:
    text-align: left;
    font-family:'Crimson Text', serif;
  }

  </style>
      <title>colleen's blog!!</title>
  </head>
  <body>
          <div>
              <h1><a href="">colleen's blog</a></h1>
          </div>

          {% for post in posts %}
            <div>
              <p>published: {{ post.published_date }}</p>
              <h2><a href="">{{ post.title }}</a></h2>
              <p>{{ post.text|linebreaksbr }}</p>
            </div>
          {% endfor %}

      </body>

</html>
